body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

pre {
	background-color: #f8f8f8;
	white-space: wrap;
	margin: 0;
}

code {
	color: black;
	font-family: 'Courier New', Courier, monospace;
}
